html, body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: hsl(186, 56%, 65%);
}

/*background-colors*/
.orientation, .locations, .guest-speakers,
.software-engineering, .computer-art, .design,
.data, .business, .marketing {
  background-color: hsl(185, 50%, 80%);
  border: 2px solid darkseagreen;

}

/* Hide Mobile Designs!! */
.mobile-logo, .mobile-thesis {
  display: none;
}

.mobile-courses {
  display: none;
}

/* Header */
.logo-container {
  height: 64px;
  width: 100%;
  margin: 0px 24px;
  text-align: center;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  text-transform: uppercase;
}

.logo, nav {
  width: 47%;
}

#colmar {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  color: hsl(0, 0%, 32%);
  font-weight: bold;
}

#academy {
  color: hsl(0, 0%, 62%);
}

nav {
  margin-right: 24px;
}

nav ul {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  text-align: center;
}

.list-space {
  margin-right: 16px;
}

a {
  text-decoration-line: none;
  color: hsl(0, 0%, 32%);
}

/* introduction banner */
.intro {
  display: flex;
  align-items: center;
  text-align: center;
}

.intro img {
  width: 60%;
  height: 60%;
  padding: 32px 24px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-text-align {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.banner-text-align h1, .banner-text-align h3 {
  padding-bottom: 3rem;
}

.intro h1, .left-column h1 {
  font-size: 2rem;
  font-weight: 700;
  width: 425px;
}

.intro h3 {
  font-size: 1.25rem;
  width: 425px;
}

/* float button */
.start-button {
  color: hsl(186, 20%, 20%);
  background-color: hsl(186, 56%, 75%);
  font-size: 1.3rem;
  font-weight: bold;
  height: 64px;
  width: 425px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.start-button:hover, .start-button:focus, .start-button:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/*info*/
.info {
  display: flex;
  flex-flow: row nowrap;
}

.left-column {
  width: 60%;
}

.left-column img {
  width: 100%;
  padding: 32px 24px;
}

.left-column h1, .left-column p {
  width: 100%;
  padding: 24px 32px;
}

.left-column p:last-child {
  font-style: italic;
  font-weight: bold;
}

.right-column {
  width: 40%;
  margin-top: 2rem;
}

.right-column img {
  width: 50%;
  height: 85%;
  padding: 16px 16px;
  margin-left: 2rem;
}

.orientation, .locations, .guest-speakers,
 .orientation-image, .location-image, .guest-speakers-image {
  display: flex;
}

.orientation, .locations, .guest-speakers {
  width: 90%;
  padding-bottom: 2rem;
  margin-left: 3rem;
}

.orientation h2, .locations h2, .guest-speakers h2 {
  font-size: 1.5rem;
}

.locations, .guest-speakers {
  margin-top: 2rem;
}

.right-column h2, .right-column p {
  padding-bottom: 1rem;
}

.orientation-text, .location-text {
  margin: 2.5rem 2rem 0rem -5rem;
}

.guest-speakers-text {
  margin: 2.5rem 2rem 0rem 6rem;
}

#guest {
  width: 103%;
}

/* Courses Grid Layout*/
.courses h1, .thesis h2 {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.courses-grid {
  margin: 32px 72px;
  display: inline-grid;
  grid-template-columns: repeat(3, 25.3rem);
  grid-template-rows: repeat(2, 22rem);
  grid-gap: 32px;
  text-align: center;
}

.courses-grid img {
  width: 100%;
  height: auto;
}

.courses-grid h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 16px;
  margin-bottom: 8px;
}

.courses-grid h4 {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 8px;
}

/*Video Thesis*/

video {
  height: 400px;
  margin: 0px 24px;
}

.thesis h2 {
  margin: 32px 0px;
}

.video {
  width: 60%;
}

.video h4 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 16px;
  font-weight: bold;
}

.video p {
  width: 85%;
  margin-left: 4rem;
  text-align: center;
}

.thesis-container {
  display: flex;
}

.thesis-column-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 40%;
}

.thesis-image1, .thesis-image2 {
  display: flex;
  flex-flow: row;
  margin-left: .5rem;
  width: 30%;
}

.thesis-image1 span, .thesis-image2 span {
  margin: 2rem 1rem;
}

.thesis-image1 img, .thesis-image2 img {
  height: 50%;
  width: 106%;
  margin-right: 16px;
}

.thesis-image1 img {
  margin-bottom: 3.6rem;
}

.thesis-image2 {
  margin-bottom: 11rem;
}

/*Footer*/
.foot {
  display: flex;
  margin: 60px 24px 24px 24px;
}

.footcopy {
  width: 50%;
}


/*Media Query*/
@media only screen and (max-device-width: 1024px) {
  .logo-container, .courses-grid, .left-column, .thesis {
    display: none;
  }

  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    width: 100%;
    height: 64px;
  }
  .mobile-logo nth(last-child) {
    margin-right: 2rem;
  }
  .mobile-intro, .mobile-intro img, .right-column {
    display: inline-block;
  }
  .mobile-intro img {
    margin-left: 24px;
    width: 90%;
  }
  button {
    width: 80%;
  }
  .orientation, .locations, .guest-speakers {
    width: 100%
    margin-left:0.75rem;
  }
  .mobile-courses {
    display: block;
    color: black;
    background-color: hsl(185, 50%, 80%);
    margin: 1.5rem 0px;
  }
  .banner-text-align button {
    margin-left: 24px;
  }
  .right-column {
    width: auto;
    height: auto;
  }
  .mobile-courses, .mobile-thesis, .courses h2 {
    margin-left: 24px;
    width: 90%;
  }
  .mobile-courses li {
    margin-top: 1.5rem;
  }
  .mobile-thesis {
    display: block;
  }
  .mobile-thesis h2 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
  video {
    max-width: 380px;
    height: auto;
  }

}
